@font-face {
    font-family: myFirstFont;
    src: url(https://www.haishi.cool/media/font/HhyaU5sn9vOmLzloC_U.43eb9ab.woff2);
}

body {
    background-color: #F8FAFC;
}

.section_container{
    margin-top: 25px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-family: myFirstFont;
    background-color: white;
}

/* html, body{
    min-height: 100%
}

.wrapper{
    min-height: 100%;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
} */

a {
    text-decoration : none;
}