<style>
    .footer {
        margin-top: 50px;
        padding: 15px 0;
        background-color: gray;
        color: white;
    }

    .footer a {
        color: white;
    }
    .footer a img {
        display: none;
    }
    .footer a:hover img {
        top:-150px;
        position: absolute;
        display: block;
    }
</style>

<div class="container-fluid footer">
    <div class="row" style="text-align: center;">
        <div class="col-sm-6 d-flex justify-content-center">
            <a href="#">
                <div class="d-flex justify-content-center" style="position: relative;"> 
                    <img src="https://www.haishi.cool/media/image/qrcode/haishi.cool.png" alt="二维码" width="150" height="150">
                </div>
                <div class="qrcode">分享本网站</div>
            </a>
        </div>
        <div class="col-sm-6">
            <span>联系与反馈: xiao_hai_shi_bakup@163.com 或 QQ:1796731720</span>
        </div>
    </div>
</div>